<!-- NATHAN SHIRLEY (nes2ta) -->
<nav class="navbar navbar-light background">
  <a class="navbar-brand goowatch" routerLink="/gurus"> Goowatch</a>

  <div id="navbarSupportedContent">
    <div class="search-bar">
      <button
        class="btn btn-secondary user"
        (click)="userNav()"
        title="always enabled"
      >
        User
      </button>
      <button
        class="btn btn btn-outline-secondary add-button"
        type="submit"
        routerLink="/addGuru"
      >
        Add Guru
      </button>
    </div>
  </div>
</nav>
