<!-- NATHAN SHIRLEY (nes2ta) -->
<nav class="navbar navbar-light background">
  <a class="navbar-brand goowatch" routerLink="/gurus"> Goowatch</a>
  <!--   <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button> -->

  <div id="navbarSupportedContent">
    <div class="search-bar">
      <!--  <form class="form-inline my-2 my-lg-0">
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button
          class="btn btn btn-outline-secondary my-2 my-sm-0"
          type="submit"
        >
          Search
        </button>
      </form> -->
      <!-- see router to see where it links to -->
      <button
        class="btn btn-secondary"
        (click)="userNav()"
        title="always enabled"
      >
        User
      </button>
      <button
        class="btn btn btn-outline-secondary add-button"
        type="submit"
        routerLink="/addGuru"
      >
        Add Guru
      </button>
    </div>
  </div>
</nav>
