<div>
  <nav class="navbar navbar-light background">
    <a class="navbar-brand goowatch"> Goowatch</a>
  </nav>
  <div class="container">
    <br />

    <form #loginForm="ngForm" class="login">
      <div class="form-group">
        <label>Username: </label>
        <input
          type="text"
          class="form-control"
          name="username"
          required
          #username="ngModel"
          [(ngModel)]="user.username"
        (keyup) = "onUsernameType()"
      />
      <small style="color: red;">{{ username_error }}</small>
    </div>
    <div class="form-group">
      <label>Password: </label>
      <input
        type="password"
        class="form-control"
        name="password"
        id="password"
        required
        #password="ngModel"
        [(ngModel)]="user.password"
        (keyup) = "onPasswordType()"
      />
      <small style="color: red;">{{ pass_error }}</small>
    </div>
  </form>
  <!-- Id's for the Ajax code, where we will display the code retrieved from the backend. -->
  <p><span id="txtHint"></span></p>
  <p><span id="txtYousay"></span></p>

  <button
    class="btn btn-secondary"
    (click)="login(loginForm.value)"
    title="always enabled"
  >
    Submit
  </button>
  <div style="color: rgb(99, 99, 99);"><br />{{ responsedata }}</div>
  {{ secureUser }}
  </div>
</div>
