<!--  NATHAN SHIRLEY (nes2ta) -->
<div class="container">
  <div class="comment-cards-outer">
    <div class="form-group comment-submit-group">
      <textarea
        class="form-control comment-text"
        id="commentTextArea"
        rows="2"
      ></textarea>
      <div class="submit-div">
        <!-- comment-error handling -->
        <small class="form-text text-muted error-msg"
          ><span id="commentError"></span>
          <span>
            <button
              type="button"
              class="btn btn-secondary comment-button"
              id="submitComment"
            >
              COMMENT
            </button></span
          >
        </small>
      </div>
    </div>

    <div>
      <div id="recentComment"></div>
    </div>
    <!-- displays all comments, hence *ngFor to iterate through all comments -->
    <div *ngFor="let c of comments">
      <div class="comment-loop">
        <div class="comment-card">
          <div class="row comment-card-row user-row">
            <div class="comment-user">{{ c.user }}</div>
          </div>
          <div class="row comment-card-row">
            <div class="comment">{{ c.comment }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
