<div *ngIf="guru" class="center">
  <div class="container">
    <div class="card-wrap goo-loop">
      <a
        routerLink="/detail/{{ guru.id }}"
        class="row goo-preview-card align-self-center"
      >
        <div class="col-3 no-gutters preview-card-left">
          <div class="preview-card-left-content">
            <img
              src="../assets/pics/nomadmil.jpg"
              alt="Miles"
              class="preview-card-avatar"
            />
            <div class="preview-card-score">&#8595;{{ guru.score }}&#8593;</div>
          </div>
        </div>
        <div class="col-9 no-gutters preview-card-right">
          <div>
            <div class="preview-card-right-header">
              <span class="preview-card-name name-select">{{ guru.name }}</span>
              <span class="preview-card-category">{{ guru.category }}</span>
            </div>
            <p class="preview-card-description">{{ guru.description }}</p>
          </div>
          <div class="icon-row">
            <div class="icons">
              <span class="icon-span"
                ><a routerLink="/">
                  <img
                    src="../assets/icons/youtube1.png"
                    alt="YouTube"
                    class="icon"/></a
              ></span>
              <span
                ><img
                  src="../assets/icons/link.png"
                  alt="website"
                  class="icon-link"
              /></span>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
