<!-- JT Graass (jtg4de) -->
<div class="container">
  <div *ngFor="let guru of gurus" class="goo-loop">
    <div>
      <a
        routerLink="/detail/{{ guru.id }}"
        class="row goo-preview-card align-self-center"
      >
        <div class="col-3 no-gutters preview-card-left">
          <div class="preview-card-left-content">
            <img
              src="../assets/pics/nomadmil.jpg"
              alt="Miles"
              class="preview-card-avatar"
            />
            <!-- need same upvote and downvote here too -->
            <div class="preview-card-score">
              <span>
                <button
                  class="down-button"
                  (click)="
                    downvote(guru.id);
                    $event.preventDefault();
                    $event.stopPropagation()
                  "
                >
                  &#8595;
                </button></span
              ><span id="previewScore-{{ guru.id }}">{{ guru.score }}</span
              ><span
                ><button
                  class="up-button"
                  (click)="
                    upvote(guru.id);
                    $event.preventDefault();
                    $event.stopPropagation()
                  "
                >
                  &#8593;
                </button>
                </span
              >
            </div>
          </div>
        </div>
        <div class="col-9 no-gutters preview-card-right">
          <div class="preview-card-right-header">
            <span class="preview-card-name name-select">{{ guru.name }}</span>
            <span class="preview-card-category">{{ guru.category }}</span>
          </div>
          <p class="preview-card-description">{{ guru.description }}</p>
        </div>
      </a>
    </div>
  </div>
</div>
